@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alice';
  src: url("https://font.elice.io/css?family=Elice+DX+Neolli");
  font-weight: normal;
  font-style: normal;
}

li{font-family: 'alice';}
.navbar-default.affix .navbar-nav li a {color:#7ac142;}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body,html{width:100%; height:100%}

body {
  color: #5a5a5a;
  font-family: 'JalnanGothic';
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.btn{
  outline:none!important; 
}
.btn{font-family: 'alice';}
.btn-capsul{border-radius:25px; padding-left:25px; padding-right:25px;}
.btn-submit {background: #5cb85c none repeat scroll 0 0; color: #000; font-size: 20px; margin-top: 20px; padding: 7px 40px;}
.btn-submit:hover {background:#3b8f3b; color:#000}

 
/*-------------- Top Header --------------*/  
.navbar-default {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 24px 0;
    position:absolute;
    top:0;
    width: 100%;
}
.affix {
    animation: 1s ease 0s normal both 1 running slideInDown;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 8px 0 rgba(88, 88, 88, 0.19);
    padding: 0.75em 0;
    position: fixed;
    z-index: 1000;
}

.navbar-default .navbar-nav{color:#fff;font-size:16px; font-weight:600}
.navbar-default.affix .navbar-nav{color:#7ac142;}
.navbar-default .navbar-nav{background:none; color:#7ac142;}
.navbar-default a.navbar-brand{color:#7ac142; font-size:30px; font-weight:600}
/*.navbar-default a.navbar-brand:hover{color:#7ac142;}*/
.navbar-default{color:#7ac142;}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar {
    border-radius: 4px;
  }
}


/*마이페이지*/
section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  border-radius: 50%;
  max-width: 150px;
  border: 5px solid #7ac142;
}

.user-info {
  text-align: center;
  margin-top: 20px;
}

.user-info h2 {
  color: #7ac142;
}

.user-activities {
  
  grid-column: span 2;
  margin-top: 30px;
}

.activity-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex: 1;
}

.box{
  display: block;
  margin-left: 1000px;
}
.checking{
  display: block;
  margin-left: 985px;
}

.activity-item p {
  margin: 0;
  font-weight: bold;
  color: #7ac142;
}

.activity-item span {
  color: #7ac142;
}
