@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'alice';
    src: url("https://font.elice.io/css?family=Elice+DX+Neolli");
    font-weight: normal;
    font-style: normal;
  }
  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */
  
  body,html{width:100%; height:100%}
  
  body {
    color: #5a5a5a;
    font-family: 'JalnanGothic';
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.btn{
    outline:none!important; 
  }
.btn{font-family: 'alice';}
.btn-capsul{border-radius:25px; padding-left:25px; padding-right:25px;}
.btn-submit {background: #5cb85c none repeat scroll 0 0; color: #000; font-size: 20px; margin-top: 20px; padding: 7px 40px;}
.btn-submit:hover {background:#3b8f3b; color:#000}
  
   
  /*-------------- Top Header --------------*/  
  .navbar-default {
      background-color: transparent;
      border: medium none;
      border-radius: 0;
      margin-bottom: 0;
      padding: 24px 0;
      position:absolute;
      top:0;
      width: 100%;
  }
  .affix {
      animation: 1s ease 0s normal both 1 running slideInDown;
      background-color: rgba(255, 255, 255, 0.98);
      box-shadow: 0 0 8px 0 rgba(88, 88, 88, 0.19);
      padding: 0.75em 0;
      position: fixed;
      z-index: 1000;
  }
  
  .navbar-default .navbar-nav{color:#fff;font-size:16px; font-weight:600}
  .navbar-default .affix .navbar-nav{color:#7ac142;}
  .navbar-default .navbar-nav{background:none; color:#7ac142;}
  .navbar-default a.navbar-brand{color:#7ac142; font-size:30px; font-weight:600}
  /*.navbar-default a.navbar-brand:hover{color:#7ac142;}*/
  .navbar-default{color:#7ac142;}
  
  

  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 768px) {

    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
    
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar {
      border-radius: 4px;
    }
}

  
/*설문조사*/
li{font-family: 'alice';}

.navbar-default.affix .navbar-nav li a {color:#7ac142;}
.survey-container {
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    margin-top: 500px;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
  }

  .question {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .option {
    font-family: 'alice';
    margin-bottom: 8px;
  }

  .submit-button {
    background-color: #7ac142;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .submit-button:hover {
    background-color: #3b8f3b;
  }

/*로그인-로그아웃, 마이페이지*/
.dropdown-label{
  font-size : 12px;
  margin : 10px;
  font-weight : bold;
  color : rgb(50, 50, 50);
}

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}

.dropbtn{
  display : block;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color : rgb(124, 124, 124);
  padding : 12px;
  width :240px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
  z-index :1;
  position : relative;
}

.dropdown-content{
  display : none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width : 240px;
  border-radius: 8px;
  height : 90px;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 10px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 2px;
  background-color :rgb(194, 194, 194)
}
.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}
.dropdown-content div:hover{
  background-color: rgb(226, 226, 226);
}
.dropdown-content.show{
  display : block;
}
.dropbtn_click{
  font-family: Material Icons; 
  font-size : 16px; 
  color : #3b3b3b; 
  float:right;
}

.filter-select {
  padding: 10px;
  border: 1px solid #7ac142;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
}